body {
    background-color: #121212;
    color: white;
}

.h1Banner {

}

.secondBackground {
    background-color: #424242;
}

.center {
    text-align: center;
}

.pStyle {
    font-size: larger;
}

.justifyText {
    text-align: justify;
}
